<section class="contact">
    <div class="gray"></div>
    <section class="container detailed px-3 px-sm-2">
        <img src="../../../../assets/img/logotyp.png" alt="Logotyp gabinetu">
        <section class="container detailed px-3 px-sm-2">
            <h1>Kontakt</h1>
            <div class="details-container d-flex justify-content-center">
                <div class="adress d-flex">
                    <div>
                        <i class="bi bi-geo-alt-fill"></i>
                        <h2>Adres</h2>
                        <p class="white">Kaczeńcowa 2</p>
                        <p class="white">51-180 Wrocław</p>
                    </div>
                    <div>
                        <i class="bi bi-geo-alt-fill"></i>

                        <h2>Adres</h2>
                        <p class="white">Kaczeńcowa 2</p>
                        <p class="white">51-180 Wrocław</p>
                    </div>
                    <div>
                        <i class="bi bi-geo-alt-fill"></i>

                        <h2>Adres</h2>
                        <p class="white">Kaczeńcowa 2</p>
                        <p class="white">51-180 Wrocław</p>
                    </div>
                </div>
            </div>
        </section>
    </section>
</section>