:host {
  $logo-size: 248px;

  .contact {
    padding-top: 12px;
    margin-bottom: 0;


    .gray {
      height: $logo-size/2 + 20px;
      background-color: var(--nt-background-gray);
    }

    .red {
      position: relative;

      &::before {
        position: absolute;
        content: '';
        z-index: -1;
        width: 100vw;
        height: 100%;
        background-color: var(--nt-background-red-primary);
      }
    }

    .detailed {
      position: relative;

      img {
        position: absolute;
        top: -$logo-size/2;
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
        max-width: $logo-size;
        width: auto;
        height: auto;
      }

      h1 {
        color: var(--nt-white);
        max-width: 600px;
        font-weight: bolder;
        padding-top: $logo-size/3
      }

      .adress {
        color: var(--nt-white);
        text-align: center;
        max-width: 800px;
        width: 100%;
        margin-bottom: 24px;

        h2 {
          margin-bottom: 2px;
        }

        i {
          font-size: 32px;
          position: relative;
          z-index: 5;

          &:after {
            $circle-diameter: 68px;
            content: '';
            position: absolute;
            top: 50%;
            left: 50%;
            width: $circle-diameter;
            height: $circle-diameter;
            margin-left: -$circle-diameter/2;
            margin-top: -$circle-diameter/2;
            border-radius: 50%;
            background-color: var(--nt-red-70);
            z-index: -1;
          }
        }

        .white {
          color: var(--nt-white);
          margin-bottom: 2px;
          font-weight: lighter
        }
      }
    }
  }
}
