<section class="container">
    <h1 class="mt-5">Pliki cookies</h1>
    <h5 class="heading py-3">
        Dla Państwa wygody strona www.nic-trudnego.pl i jej podstrony używa plików cookies i podobnych technologii
        głównie do celów statystycznych oraz po to, aby dostosować go do potrzeb użytkowników.
    </h5>
    <p>Ciasteczka (ang. cookies) – niewielkie informacje tekstowe, wysyłane przez serwer WWW i zapisywane
        po stronie
        użytkownika (zazwyczaj na twardym dysku). Domyślne parametry ciasteczek pozwalają na odczytanie informacji w
        nich zawartych jedynie serwerowi, który je utworzył. Ciasteczka są stosowane najczęściej w przypadku liczników,
        sond, sklepów internetowych, stron wymagających logowania, reklam i do monitorowania aktywności odwiedzających.
        W celu sprawdzenia jakie ciasteczka wykorzystuje dowolna strona/serwis przejdz do strony W przeglądarce
        internetowej można zmienić ustawienia dotyczące cookies. Brak zmiany tych ustawień oznacza akceptację dla
        stosowanych tu cookies.

        Serwis stosuje cookies wydajnościowe, czyli służące do zbierania informacji o sposobie
        korzystania ze strony, by lepiej działała, oraz funkcjonalne, czyli pozwalające „pamiętać” o ustawieniach
        użytkownika (np. język, rozmiar czcionki).


    <h4 class="mt-5">Poziom ochrony przed cookies ustawia się w każdej przeglądarce:</h4>
    <h5 class="mt-4">Google Chrome</h5>
    <p>Trzeba kliknąć na menu (w prawym górnym rogu), zakładka Ustawienia > Pokaż ustawienia zaawansowane. W sekcji
        „Prywatność” trzeba kliknąć przycisk Ustawienia treści.
        W sekcji „Pliki cookie” można zmienić następujące ustawienia plików cookie:</p>
    <ul>
        <li>Usuwanie plików cookie</li>
        <li>Domyślne blokowanie plików cookie</li>
        <li>Domyślne zezwalanie na pliki cookie</li>
        <li>Domyślne zachowywanie plików cookie i danych stron do zamknięcia przeglądarki</li>
        <li>Określanie wyjątków dla plików cookie z konkretnych witryn lub domen</li>
    </ul>
    <h5 class="mt-4">Internet Explorer</h5>
    <p>Z menu przeglądarki (prawy górny róg): Narzędzia > Opcje Internetowe > Prywatność, przycisk Witryny. Suwakiem
        ustawiamy poziom, zmianę zatwierdzamy przyciskiem OK.</p>
    <h5 class="mt-4">Microsoft Edge</h5>
    <p>Z menu przeglądarki (prawy górny róg, trzy kropki): Ustawienia > Z menu po lewej stronie - Pliki cookies i
        uprawnienia witryny > Zmodyfikuj ustawienia cookie, np. wyłącz zgodę na zapisywanie i odczytywanie w plikach
        cookie.</p>
    <h5 class="mt-4">Mozilla Firefox</h5>
    <p>Z menu przeglądarki: Narzędzia > Opcje > Prywatność. Uaktywnić pole Program Firefox: „będzie używał ustawień
        użytkownika”.
        O ciasteczkach (cookies) decyduje zaklikanie – bądź nie – pozycji Akceptuj ciasteczka.</p>
    <h5 class="mt-4">Opera</h5>
    <p>Z menu przeglądarki: Narzędzie > Preferencje > Zaawansowane.
        O ciasteczkach decyduje zaznaczenie – bądź nie – pozycji Ciasteczka.</p>
    <h5 class="mt-4">Safari</h5>
    <p>W menu rozwijanym Safari trzeba wybrać Preferencje i kliknąć ikonę Bezpieczeństwo. Tu wybiera się poziom
        bezpieczeństwa w obszarze ,,Akceptuj pliki cookie”.</p>
</section>