<footer class="text-center mt-5 mb-3">
  <div class="greeting">Poznajmy się!</div>
  <a class="mail" href="mailto: werwojsa@gmail.com">werwojsa@gmail.com</a>
  <div class="d-flex justify-content-center align-items-center icons">
    <a href='https://www.facebook.com/groups/1746507862245901/user/61564947129317/' target="_blank"><i
        class="bi bi-facebook"></i></a>
    <a href='https://www.facebook.com/groups/1746507862245901/user/61564947129317/' target="_blank"><i
        class="bi bi-instagram"></i></a>
    <a href='https://maps.app.goo.gl/aoWame9Yoj3PWhFEA' target="_blank"><i class="bi bi-geo-alt-fill"></i></a>
  </div>
  <div class="text-center copyright">
    <span>© 2024 <a href="https://www.linkedin.com/in/adam-biadasiewicz-3885911a4/" target="_blank"> Adam
        Biadasiewicz</a></span>
  </div>
</footer>