:host {
  .border {
    display: block;
    width: 768px;
    margin: 64px auto auto auto;

    div {
      height: 432px;
      i{
        font-size: 96px;
        margin-bottom: 72px;
      }
    }
  }
}