:host {
  section {
    margin: 48px auto;

    &.bordered {
      padding: 16px;
      border: solid 1px black;
      border-radius: 20px;
      box-shadow: 10px 10px 10px rgba(128, 130, 132, 0.5);
      background-color: white;
    }

    .about {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;

      .text-container {
        flex: 50%;
        max-width: 540px;
        padding-bottom: 44px;

        h1.primary {
          padding-top: 64px;
          font-weight: bold;
        }

        h1.secondary {
          color: #F37748;
          padding-bottom: 24px;
        }

        p {
          font-size: 14px;
          color: #f38257
        }

        .button-container {
          padding-top: 20px;

          button {
            all: unset;

            height: 48px;
            width: 200px;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 16px;

            &:hover {
              cursor: pointer
            }

            &.primary {
              position: relative;
              background-color: #f35e23;
              border-radius: 10px;

              transition: all 0.2s linear 0s;

              &:before {
                content: '\F138';
                font-family: 'Bootstrap-icons', serif;
                font-size: 24px;
                font-weight: 900;
                color: white;
                display: flex;
                align-items: center;
                justify-content: center;
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                width: 40px;
                background-color: rgba(white, 0.3);
                border-radius: 0 50% 50% 0;
                transform: scale(0, 1);
                transform-origin: left center;
                transition: all 0.2s linear 0s;
              }

              &:hover {
                text-indent: 30px;

                &:before {
                  transform: scale(1, 1);
                  text-indent: 0;
                }
              }

              a {
                text-decoration: none;
                color: white;
              }
            }

            &.secondary {
              position: relative;
              transition: all 0.2s linear 0s;
                color: #f35e23;

              &:before {
                content: '\F128';
                font-family: 'Bootstrap-icons', serif;
                font-weight: 600;
                color: #f35e23;
                position: absolute;
                display: flex;
                align-items: center;
                justify-content: center;
                top: -16px;
                left: 88px;
                width: 100%;
                height: 100%;
                text-align: center;
                font-size: 30px;
                transform: scale(0, 0);
                transition: all 0.2s linear 0s;
              }

              &:hover {
                &:before {
                  transform: scale(1, 1);
                  top: 0;
                  text-indent: 0;
                }
              }
            }
          }
        }
      }

      .photos-container {
        flex: 50%;
        position: relative;

        .image {
          position: absolute;
          max-width: 350px;
          height: auto;
          border-radius: 5px;
        }

        .image-1 {
          top: 80px;
          left: calc(50% - 150px);
          z-index: 2;
          transition: all 0.8s ease;

          &:hover {
            transform: scale(1.2);
          }
        }

        .image-2 {
          top: -48px;
          left: 60%;
          z-index: 1;
          transition: all 0.8s ease;

          &:hover {
            z-index: 3;
            transform: scale(1.2);
            animation-duration: 1s;
          }
        }
      }


      @media screen and (max-width: 1600px) {
        .photos-container {
          display: flex;
          justify-content: center;

          image {
            position: unset;
          }

          .image-1 {
            position: unset;
            max-width: 330px;
            width: 70%;
          }

          .image-2 {
            display: none;
          }
        }
      }
    }
  }

  .courses {
    position: relative;
    height: 600px;
    padding-top: 36px;

    &::before {
      position: absolute;
      content: '';
      z-index: -1;
      width: 100%;
      height: 100%;
      background-image: url('/assets/img/tlo5.png');
      background-size: cover;
    }

    .detailed {
      h1 {
        color: white;
        max-width: 600px;

        span {
          //color: #cf4c4e;
          color: #f35e23;
        }
      }

      nt-carousel {
        height: 460px
      }
    }
  }
}



