:host {
  section {
    margin: 0 auto;
    padding: 48px 0;

    &.about-section {
      margin: 0 auto;
      max-width: 1920px;
      align-content: center;
    }

    h1.primary {
      padding-top: 64px;
      font-weight: bold;

      @media screen and (max-width: 992px) {
        padding-top: 0 !important;
      }
    }

    h1.secondary {
      color: var(--nt-text-primary);
      padding-bottom: 24px;
    }

    p {
      font-size: 14px;
    }

    &.about-section {
      background: url('/assets/img/Werka-z-bialym.png');
      background-size: cover;
      position: relative;
      z-index: 0;

      @media screen and (max-width: 992px) {
        background: none;
      }


      &:before {
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;
        right: 0;
        height: 100%;
        background: linear-gradient(to left, white 0, 2%, transparent 30%, var(--nt-white) 60%, );
        z-index: -1;

        @media screen and (max-width: 1400px) {
          background: linear-gradient(to left, transparent 25%, var(--nt-white) 50%);
        }

        @media screen and (max-width: 1400px) {
          background: linear-gradient(to left, transparent 25%, var(--nt-white) 50%);
        }
      }
    }

    .about {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;

      .text-container {
        flex: 50%;
        max-width: 540px;
        padding-bottom: 44px;

        h1.primary {
          padding-top: 64px;
        }

        h1.secondary {
          padding-bottom: 24px;
        }


        .button-container {
          padding-top: 20px;
          display: flex;
          justify-content: space-around;

          button {
            all: unset;

            height: 48px;
            width: 200px;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 16px;

            &:hover {
              cursor: pointer
            }

            &.primary {
              position: relative;
              background-color: var(--nt-text-highlight);
              border-radius: 10px;
              color: white;

              @media screen and (min-width: 768px) {
                transition: all 0.2s linear 0s;

                &:before {
                  content: '\F138';
                  font-family: 'Bootstrap-icons', serif;
                  font-size: 24px;
                  font-weight: 900;
                  color: white;
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  position: absolute;
                  top: 0;
                  left: 0;
                  height: 100%;
                  width: 40px;
                  background-color: rgba(white, 0.3);
                  border-radius: 0 50% 50% 0;
                  transform: scale(0, 1);
                  transform-origin: left center;
                  transition: all 0.2s linear 0s;
                }

                &:hover {
                  text-indent: 30px;

                  &:before {
                    transform: scale(1, 1);
                    text-indent: 0;
                  }
                }
              }
            }

            &.secondary {
              position: relative;
              color: var(--nt-text-highlight);

              @media screen and (min-width: 768px) {
                transition: all 0.2s linear 0s;

                &:before {
                  content: '\F128';
                  font-family: 'Bootstrap-icons', serif;
                  font-weight: 600;
                  color: var(--nt-text-highlight);
                  position: absolute;
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  top: -16px;
                  left: 88px;
                  width: 100%;
                  height: 100%;
                  text-align: center;
                  font-size: 30px;
                  transform: scale(0, 0);
                  transition: all 0.2s linear 0s;
                }

                &:hover {
                  &:before {
                    transform: scale(1, 1);
                    top: 0;
                    text-indent: 0;
                  }
                }
              }
            }
          }
        }
      }

      .image-container {
        .gray {
          background-color: var(--nt-text-black)
        }

        .image {
          opacity: 0.9;
        }
      }


      @media screen and (max-width: 1600px) {
        .image-container {
          width: 100%;
          display: flex;
          justify-content: center;

          image {
            position: unset;
            width: 100%;
            height: auto;
          }
        }
      }

      @media screen and (max-width: 576px) {
        flex-direction: column;

        .button-container {
          flex-direction: column;

          button {
            width: 100% !important;

            &.primary {
              margin-bottom: 12px !important;
            }
          }
        }
      }
    }
  }

  .courses {
    position: relative;
    height: 600px;
    padding-top: 12px;
    margin-bottom: 0;

    &::before {
      position: absolute;
      content: '';
      z-index: -1;
      width: 100%;
      height: 100%;
      background-size: cover;
      background-color: var(--nt-background-red-primary);
    }

    .detailed {
      h1 {
        color: white;
        max-width: 600px;

        span {
          color: var(--nt-text-highlight);
        }
      }

      nt-carousel {
        height: 440px
      }
    }
  }

  .more-info-section {
    background-color: var(--nt-background-gray);
    margin-top: -12px;
    padding-bottom: 124px;
    margin-bottom: 0;
  }

  .more-info {
    display: flex;
    flex-direction: column;

    .content {
      font-style: italic;
      width: 80%;

      p {
        font-size: 20px;
        text-align: justify;
        text-justify: inter-word;

      }

      @media screen and (max-width: 992px) {
        width: 100%;
      }
    }

    .first-part {
      position: relative;

      &:after {
        content: '';
        position: absolute;
        top: 52px;
        left: -6px;
        right: -15px;
        bottom: -15px;
        border-left: #ECC03B 6px solid;

        @media screen and (max-width: 992px) {
          display: none !important;
        }
      }

    }

    .second-part {
      float: right;
      position: relative;

      &:after {
        content: '';
        position: absolute;
        top: 52px;
        left: -15px;
        right: -6px;
        bottom: -15px;
        border-right: #ECC03B 6px solid;

        @media screen and (max-width: 992px) {
          display: none !important;
        }
      }

      h1 {
        text-align: end;

        @media screen and (max-width: 992px) {
          text-align: start;
        }
      }
    }
  }
}