<section class="container about-section">
    <div class="img">
        <img src="assets/img/Werka-z-bialym.png" alt="Zdjęcie terapeutki Weroniki">
    </div>
    <div class="about container px-3">
        <div class="text-container">
            <h1 class="primary">Weronika Biadasiewicz</h1>
            <h1 class="secondary">Neurologopeda</h1>
            <p class="description">Pomogę Tobie lub Twojemu dziecku mówić poprawnie stosując najlepsze do tego
                metody. Przez zabawę, z dobrą atmosferą i pełnią uśmiechu.</p>
            <p class="description">Szukasz profesjonalnej opieki logopedycznej?</p>
            <div class="button-container">
                <button class="primary" [routerLink]="'/kontakt'">Skontaktuj się</button>
                <button class="secondary" (click)="scrollToCoursesSection()">Dowiedz się więcej</button>
            </div>
        </div>
    </div>
</section>

<section id="courses" class="courses">
    <section class="container detailed px-3 px-sm-2">
        <h1>Ukończyłam następujące <span>kursy</span></h1>
        <nt-carousel [items]="kursy"></nt-carousel>
    </section>
</section>


<section class="more-info-section">
    <section class="more-info container">
        <div>
            <div class="left content px-3">
                <h1 class="primary">Kim jestem?</h1>
                <p class="description">Jestem absolwentką studiów I stopnia z Terapii Zajęciowej oraz studiów
                    magisterskich
                    z
                    Logopedii ze specjalnością z neurologopedii oraz wczesnej interwencji logopedycznej. Doświadczenie
                    zdobywałam
                    pracując w przedszkolach oraz w prywatnym gabinecie logopedycznym. Jestem również terapeutą ręki.
                    Prywatnie jestem szczęśliwą żoną i właścicielką kotki Fanty. Uwielbiam długie spacery i podróże.
                </p>
            </div>
            <div class="right content px-3">
                <h1 class="primary">Co robię?</h1>
                <p class="description">Prowadzę zajęcia przede wszystkim z dziećmi z dyslalia (wadami wymowy),
                    opóźnionym
                    rozwojem
                    mowy oraz spektrum autyzmu, a także z zaburzeniami funkcji prymarnych – nieprawidłową pozycją
                    spoczynkową
                    języka, ustnym torem oddechowym czy nieprawidłowym sposobem połykania. Zajmuję się również terapią
                    wybiórczości
                    pokarmowej. Do uczestnictwa w terapii zapraszam również osoby dorosłe z różnymi trudnościami w
                    zakresie
                    komunikacji i wymowy.</p>
            </div>

            <div class="left content px-3">
                <h1 class="primary">Jak pracuję?</h1>
                <p>Bardzo ważne jest dla mnie, aby moi pacjenci lub ich opiekunowie otrzymywali pełną informację
                    dotyczącą zaobserwowanych trudności oraz rozumieli stosowane na zajęciach metody terapeutyczne.
                    Uważam, że rozumienie celu i przyczyny podejmowanych działań terapeutycznych przez pacjenta jest
                    kluczowe dla skuteczności terapii, dlatego staram się dokładnie i w zrozumiały sposób wyjaśnić
                    zależności przyczynowo-skutkowe oraz możliwe drogi do osiągnięcia celu. Podczas zajęć dbam o to, aby
                    były one nie tylko skuteczne, ale również przyjemne i atrakcyjne dla pacjenta. Z tego powodu
                    wykorzystuję gry oraz zabawy, które pomagają utrzymać koncentrację i motywację do ćwiczeń małego
                    pacjenta.</p>
            </div>
        </div>
    </section>
</section>
