:host {
  .offer {
    margin-bottom: 0;
    padding-bottom: 60px;
    border-bottom: solid var(--nt-background-gray) 2px;

    .gray {
      background-color: var(--nt-background-gray);

      &.height {
        height: 144px;
      }
    }

    .red {
      background-color: var(--nt-background-red-primary);

      h1 {
        margin: 0;
        padding: 64px 0;
        color: var(--nt-white)
      }
    }

    .header-container {
      text-align: center;
      display: flex;
      justify-content: center;

      h4 {
        font-style: italic;
        font-weight: normal;
        width: fit-content;
        margin: 0;

        a {
          color: var(--nt-text-primary);
        }
      }

      .decoration {
        width: 2px;
        height: 24px;
        position: relative;
        border-radius: 16px;

        &:after {
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          transform: rotate(35deg);

          background-color: #ECC03B;
        }

        @media screen and (max-width: 420px) {
          display: none;
        }
      }
    }

    .details {
      max-width: 1000px;
      margin: auto;
      width: 100%;

      .offers-container {
        display: grid;
        gap: 32px;
        justify-items: center;
        grid-template-columns: repeat(auto-fit, minmax(min(100%, max(320px, calc(50% - 32px))), 1fr));


        .card {
          border-color: var(--nt-background-red-primary);
          width: 100%;

          .card-body {
            display: flex;
            align-items: center;
          }

          img {
            color: var(--nt-gray-text);
            margin-right: 16px
          }

        }
      }

      .additional-info {
        .card {
          border: 2px solid #e9b61f;
          width: 100%;
          background-color: #f8efd6;

          i {
            font-size: 48px;
            color: #e9b61f;
            margin-right: 24px;
          }

          .card-body {
            display: flex;
            align-items: center;
            text-align: justify;
          }
        }
      }
    }
  }
}
