<section class="offer">
    <div class="gray height"></div>
    <div class="red">
        <section class="container header ps-3 pe-0 px-sm-2 d-flex justify-content-center align-items-center">
            <h1>Oferta</h1>
        </section>
    </div>
    <section class="pt-4 pb-0 details">
        <div class="header-container d-flex justify-content-center align-items-center py-4">
            <span class="decoration mx-3"></span>
            <h4>Jeśli Twoje dziecko</h4>
            <span class="decoration mx-3"></span>
        </div>
        <div class="container offers-container py-3">
            <ng-container *ngFor="let offer of offerCardConfig">
                <div class="card">
                    <div class="card-body">
                        <h1 class="card-title"><img src="assets/icons/{{offer.iconSrc}}" width="48px" height="48px">
                        </h1>
                        <p class="card-text black"> {{offer.text}}</p>
                    </div>
                </div>
            </ng-container>
        </div>
        <div class="header-container d-flex justify-content-center align-items-center py-4 mb-4">
            <span class="decoration mx-3"></span>
            <h4>Serdecznie zapraszam do <a [routerLink]="'/kontakt'">kontaktu</a></h4>
            <span class="decoration mx-3"></span>
        </div>
        <div class="additional-info container">
            <div class="card">
                <div class="card-body">
                    <i class="bi bi-exclamation-lg"></i>
                    <p class="card-text black">
                        Oferuję również terapię logopedyczną dla osób dorosłych, obejmującą
                        korektę
                        wad
                        wymowy,
                        poprawę funkcji prymarnych czy też rehabilitację mowy po udarach czy wypadkach komunikacyjnych.
                    </p>
                </div>
            </div>
        </div>
    </section>
</section>