
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$nic-trudnego-client-primary: mat.define-palette(mat.$indigo-palette);
$nic-trudnego-client-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);
// The warn palette is optional (defaults to red).
$nic-trudnego-client-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$nic-trudnego-client-theme: mat.define-light-theme((
  color: (
    primary: $nic-trudnego-client-primary,
    accent: $nic-trudnego-client-accent,
    warn: $nic-trudnego-client-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($nic-trudnego-client-theme);

@import 'node_modules/bootstrap/scss/bootstrap.scss';
@import 'node_modules/bootstrap-icons/font/bootstrap-icons.scss';
@import 'app/assets/custom-styles/color-variables.scss';

$darkblue: rgb(0, 0, 90);
$blue: rgba($darkblue, 0.9);
$lightblue: rgb(0, 0, 200);

* {
  font-family: 'Helvetica', 'Arial', sans-serif;
}

.yellow-box {
  background-color: #CCF5E7;
  padding: 6px 12px;
  border-radius: 10px;
  color: #39D59E;
  font-weight: bolder;
}

.container.py-5 {
  max-width: 1180px;
}

.cherry {
  color: #dc3545;
}

.azure {
  color: rgb(0, 127, 255);
}

.divider {
  width: 90%;
  height: 3px;
  background-color: blue;
  border: 1px solid blue;
  border-radius: 3px;
}

.btn-outline-dark {
  background-color: whitesmoke;
  border-color: $darkblue;

  &:hover, &:focus-visible {
    background-color: rgba($lightblue, 0.8);
    border-color: rgba($lightblue, 0.8);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.9);
  }
}

.btn-outline-light {
  background-color: rgba($darkblue, 0.8);
  border-color: rgba($darkblue, 0.8);

  &:hover, &:focus-visible {
    background-color: whitesmoke;
    border-color: $lightblue;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.9);
  }
}

h1 {
  color: $darkblue;
  width: fit-content;
}

h5 {
  color: $blue;
}

.darkblue {
  color: $darkblue;
}

.nav-link {
  color: $blue;
}

p {
  color: dimgray;
}

.btn-transparent {
  background-color: transparent;
  border: none;
  font-style: italic;
  color: $darkblue;
}

img {
  background-position: center center;
  background-repeat: no-repeat;
  object-fit: cover;
}

.input-transparent {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid rgb(0, 0, 200);
  width: 120px;
  font-style: italic;
  color: var(--nt-text-primary);

  &.ng-invalid {
    &.ng-touched {
      border-bottom: 2px solid #dc3545;
    }
  }

  &:focus-visible {
    outline: none;
    border-bottom: 2px solid rgb(0, 0, 90);
    margin-bottom: 0;
  }
}


.btn {
  &:disabled {
    background-color: #b6b6b6;
    color: #565656;
  }
}


html, body { height: 100%; }
body { margin: 0; font-family: 'Helvetica', 'Arial', sans-serif}
