@import 'node_modules/bootstrap/scss/bootstrap.scss';
@import 'node_modules/bootstrap-icons/font/bootstrap-icons.scss';
@import 'assets/custom-styles/color-variables.scss';
@import "primeng/resources/primeng.css";
@import "primeng/resources/themes/luna-amber/theme.css";

* {
  font-family: 'Merriweather Sans', sans-serif;
  font-optical-sizing: auto;
}

.container.py-5 {
  max-width: 1180px;
}

.sharpen {
  image-rendering: -moz-crisp-edges;
  image-rendering: -o-crisp-edges;
  image-rendering: -webkit-crisp-edges;
  -ms-interpolation-mode: nearest-neighbor;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: 'Merriweather Sans', sans-serif;
}

h1.primary {
  color: var(--nt-text-black);
}

p {
  color: var(--nt-text-primary);
}