@import 'node_modules/bootstrap/scss/bootstrap.scss';
@import 'node_modules/bootstrap-icons/font/bootstrap-icons.scss';
@import 'app/assets/custom-styles/color-variables.scss';

$darkblue: rgb(0, 0, 90);
$blue: rgba($darkblue, 0.9);
$lightblue: rgb(0, 0, 200);

* {
  font-family: 'Merriweather Sans', sans-serif;
  font-optical-sizing: auto;
}

.container.py-5 {
  max-width: 1180px;
}

h1 {
  color: #D56062;
  width: fit-content;
}

p {
  color: #D56062;
}
ol {
  color: #D56062;
}


html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: 'Merriweather Sans', sans-serif;
}
