:host {
  background-color: rgba(255, 255, 255, 0.8);

  .navbar {
    min-height: 80px;
    padding-top: 12px;
    max-width: 1340px;
    width: 100%;
    display: flex;
    justify-content: space-between;

    .logo {
      min-height: 64px;
      align-items: center;

      img {
        width: auto;
        height: 64px;
        margin: 0 48px 0 24px
      }
    }

    .bi-journal-medical {
      padding: 0 16px;
      font-size: 24px;
    }

    .vertical-line {
      border: none;
      border-left: 2px solid;
      height: 44px;
      margin: 0 8px;
    }

    a {
      margin: 0 8px;
    }

    .navbar-collapse.show {
      li {
        display: flex;
        height: 80px;
        align-items: center;
      }
    }

    .navbar-collapse {
      justify-content: flex-end;

      ul {
        display: flex;
        justify-content: space-between;
        width: 100%;
        max-width: 600px;
      }

      li {
        display: flex;
        align-items: center;

        .nav-link {
          font-weight: bold;
          color: #f35e23;

          &.active {
            color: black;
          }

        }
      }
    }

    .navbar-toggler {
      border: none;

      &:focus {
        -webkit-box-shadow: none;
      }

      span {
        display: block;
        background-color: #F37748;
        height: 3px;
        width: 25px;
        margin-top: 5px;
        margin-bottom: 5px;
        position: relative;
        left: 0;
        opacity: 1;
        transition: all 0.35s ease-out;
        transform-origin: center left;
      }


      span:nth-child(1) {
        transform: translate(0%, 0%) rotate(0deg);
      }

      span:nth-child(2) {
        opacity: 1;
      }

      span:nth-child(3) {
        transform: translate(0%, 0%) rotate(0deg);
      }

      span:nth-child(1) {
        margin-top: 0.3em;
      }

      &:not(.collapsed) span:nth-child(1) {
        transform: translate(15%, -33%) rotate(45deg);
      }

      &:not(.collapsed) span:nth-child(2) {
        opacity: 0;
      }

      &:not(.collapsed) span:nth-child(3) {
        transform: translate(15%, 33%) rotate(-45deg);
      }
    }

    button {
      margin: 0 4px;
      padding: 4px 16px;
    }
  }


  @media screen and (max-width: 991px) {
    .navbar-nav {
      max-width: unset;

      li {
        font-size: 28px;
        height: 80px;

        .nav-link {
          display: flex;
          justify-content: flex-end;
          width: 100%;
          font-style: italic;
          padding-right: 16px;
          color: #F37748;

          &:after {
            all: unset;
          }
        }
      }
    }
  }
}
