:host {
  .navbar {
    height: 80px;
    box-shadow: 0 5px 10px var(--nt-accent-shadow);

    .bi-journal-medical {
      padding: 0 16px;
      font-size: 24px;
    }

    .vertical-line {
      border: none;
      border-left: 2px solid;
      height: 44px;
      margin: 0 8px;
    }

    a {
      margin: 0 8px;
    }

    button {
      margin: 0 4px;
      padding: 4px 16px;
    }

    .buttons-container {
      i {
        margin-right: 8px;
      }

    }
  }
}
