<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <div class="d-flex align-items-center">
        <i class="bi bi-journal-medical text-primary"></i>
        <hr class="vertical-line cherry" />
        <a class="navbar-brand fw-bolder darkblue" href="#">HealthHub</a>
        <a class="nav-link" aria-current="page" [routerLink]="'/'" routerLinkActive="active">O mnie</a>
        <a class="nav-link" [routerLink]="'/uslugi'" routerLinkActive="active">Usługi</a>
        <a class="nav-link" [routerLink]="'/cennik'" routerLinkActive="active">Cennik</a>
        <a class="nav-link" [routerLink]="'/kontakt'" routerLinkActive="active">Kontakt</a>
      </div>
    </div>
  </nav>
